<p-breadcrumb [model]="bcItems" [home]="bcHome"></p-breadcrumb>
<h3>{{ title }}  <span *ngIf="!loading">| Showing: {{ sites.totalRecords }}</span></h3>
<button type="button" pButton icon="fa fa-download" iconPos="left" label="Export All" (click)="sites.exportCSV()"></button>
<p-messages [(value)]="errorMessage"></p-messages>
<!--<p-dataTable [value]="facilities"
             sortField="stats.lastUpdate" [sortOrder]="-1"
             [loading]="loading"  loadingIcon="fa-spinner fa-pulse"
             emptyMessage="No stats found" [responsive]="true"
             [reorderableColumns]="true" columnResizeMode="fit" [resizableColumns]="true" [paginator]="true" [rows]="500"
             [totalRecords]="recordCount"
             exportFilename="DwapiSpot"
             #sites>
    <p-column field="code" header="MFL" [filter]="true"></p-column>
    <p-column field="info.county" header="County" sortable="true" [filter]="true"  filterMatchMode="contains"></p-column>
    <p-column field="name" header="Facility" sortable="true" [filter]="true"  filterMatchMode="contains"></p-column>
    <p-column field="info.mechanism" header="Partner" sortable="true" [filter]="true"  filterMatchMode="contains"></p-column>
    <p-column field="stats.noOfPatients" header="Patients" sortable="true"></p-column>
    <p-column field="stats.lastUpdate" header="Last Update" sortable="true">
        <ng-template let-col let-facility="rowData" pTemplate="body">
            {{facility.stats.lastUpdate | date: 'dd MMM yyyy'}}
        </ng-template>
    </p-column>

    <p-column field="stats.timeAgo" header=""></p-column>
    <p-column field="emr" header="EMR" sortable="true"></p-column>

    <ng-template pTemplate="paginatorLeft">
    </ng-template>
</p-dataTable>-->

<p-table
    [value]="facilities"
    sortField="stats.lastUpdate" [sortOrder]="-1"
    [loading]="loading"  loadingIcon="fa-spinner fa-pulse"
    emptyMessage="No stats found" [responsive]="true"
    [reorderableColumns]="true" columnResizeMode="fit" [resizableColumns]="true" [paginator]="true" [rows]="500"
    [totalRecords]="recordCount"
    exportFilename="DwapiHTSSpot"
    #sites>

    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of cols" [ngSwitch]="col.field">
                <input *ngSwitchCase="'siteCode'" pInputText type="text" (input)="sites.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'name'" pInputText type="text" (input)="sites.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'county'" pInputText type="text" (input)="sites.filter($event.target.value, col.field, 'contains')">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-valid>
        <tr>
            <td *ngFor="let col of cols">
                <span *ngIf="col.field=='lastUpdate'"> {{valid[col.field] | date: 'dd MMM yyyy'}}</span>
                <span *ngIf="col.field!='lastUpdate'"> {{valid[col.field]}}</span>
            </td>
        </tr>
    </ng-template>
</p-table>

<h3> <span *ngIf="!loading">Showing: {{ sites.totalRecords }} </span></h3>

