<p-breadcrumb [model]="bcItems" [home]="bcHome"></p-breadcrumb>
<p-messages [(value)]="errorMessage"></p-messages>
<p-table
    [value]="facilities"
    sortField="stats.lastUpdate" [sortOrder]="-1"
    [loading]="loading"  loadingIcon="fa-spinner fa-pulse"
    emptyMessage="No stats found" [responsive]="true"
    [reorderableColumns]="true" columnResizeMode="fit" [resizableColumns]="true" [paginator]="true" [rows]="500"
    [totalRecords]="recordCount"
    exportFilename="DwapiHTSSpot"
    #sites>

    <ng-template pTemplate="caption">
        <div style="text-align: right">
            <button type="button" pButton icon="fa fa-download" iconPos="left" label="Export All" (click)="sites.exportCSV()"></button>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of cols" [ngSwitch]="col.field">
                <input *ngSwitchCase="'siteCode'" pInputText type="text" (input)="sites.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'name'" pInputText type="text" (input)="sites.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'county'" pInputText type="text" (input)="sites.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'partner'" pInputText type="text" (input)="sites.filter($event.target.value, col.field, 'contains')">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-valid>
        <tr>
            <td *ngFor="let col of cols">
                <span *ngIf="col.field=='lastUpdate'"> {{valid[col.field] | date: 'dd MMM yyyy'}}</span>
                <span *ngIf="col.field!='lastUpdate'"> {{valid[col.field]}}</span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <span *ngIf="!loading">Showing: {{ sites.totalRecords }} </span>
    </ng-template>
</p-table>
